


<h2>Extracting needle-in-a-haystack data from Twitter for journalists and researchers.
</h2>

<nav>
<ul>
	<li><%= link_to 'Sign Up', queries_path %></li>
	<li><%= link_to 'Sign In', new_query_path %></li>
</ul>
</nav>
