/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	background: url(images/sluice.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: #DDD;
}

body {
	margin: 0 auto;
	color: #FFF;
}

header {
	height: 100px;
	width: 90%;
	margin: 0 5%;
}

h1 {
	margin: 0 auto;
	font-family: 'Satisfy', cursive;
	font-size: 4em;
	text-align: center;
}

nav {
	height: 50px;
	width: 90%;
	margin: 5% 5%;
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
}

ul {
	list-style-type: none;
}

li {
	border: 1px solid #FFF;
	width: 20%;
	margin: 0 5%;
	display: inline-block;
	line-height: 50px;
	background: none;
	text-align: center;
	border-radius: 8px;
}

nav a {
	color: #FFF;
	text-decoration: none;
}

.container {
	width: 75%;
	margin: 10% auto;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.75em;
	text-align: center;
}